{% extends 'base.html' %}

{% block title %}
Основная информация о сайте
{% endblock %}

{% block body %}
<div class="container" >
    <div>


        <div>
            Интернет-магазин - это интерактивный веб-сайт, рекламирующий товар или услугу, принимающий заказы на покупку, предлагающий пользователю выбор варианта расчета, способа получения заказа и выписывающий счет на оплату.
            <p>
    Интернет-магазин - это совокупность программ, работающих на Web-сайте, которые позволяют покупателю дистанционно выбрать товар из каталога и оформить его заказ.
</p>
Интернет-магазин является посредником между покупателем и складом производителя, которому достаточно иметь ресурс в Интернете и телефон. Магазин виртуального типа не нуждается в представительном офисе, складских помещениях, не несет расходы на содержание помещений, владелец магазина может управлять продажами даже из своей квартиры. Именно потому цены в таких магазинах минимальны. Купленные вещи подвозят потребителю непосредственно со склада производителя.


          {% if user|length > 0 %}
        {% for el in user %}
        <div class="alert alert-info">


            <h2>{{el.username}}</h2>
            <p>{{el.password}}</p>

            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>

    </div>


    {% endfor %}
    {% else %}
              <p> У нас ещё нет статей на сайте </p>
    {% endif %}
           <div  class="container">
<p align="center">

                <a class="me-3 py-2 text-dark text-decoration-none" href="/about/first">Первый магазин</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/about/second">Второй магазин</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/about/third">Третий магазин</a>
</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}